body {
  background: black;
  font-family: sans-serif;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 0;
}

h1 {
  color: rgb(224, 224, 192);
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 144;
}

h2 {
  color: rgb(208, 192, 160);
  text-shadow: black 0.1em 0.1em 0.1em;
  font-size: 32;
}

h3 {
  font-size: 20;
  margin: 8px;
}


div {
  margin: 0px;
  padding: 0px;
}

#content {
  background-image: url("images/day.jpg?1");
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  width: 1024px;
  height: 100%;
}

#departure {
  text-align: center;
}

/* Weather */
#weather {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.55);
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
  width: 416px;
  border-radius: 32px;
}

#weather-image {
  display: block;
  margin-left: 43.75%;
  text-align: center;
}

#current-weather {
  height: 56px;
}

#weather-image {
  float: left;
}

#weather-image img {
  height: 52px;
  width: 52px;
  vertical-align: middle;
}

#weather-description {
  margin-top: 6px;
  margin-left: 8px;
  height: 40px;
  float: left;
}

#high-low {
  text-align: center;
}


